* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.content {
    padding-top: 0px;
    margin: auto auto;
    max-width: 768px;
}

.content > * {
    text-align: center;
}

.theme-toggle-container {
    display: block;
    margin: 30px 30px 30px 0px;
    text-align: right;
}

.theme-toggle-container-2 {
    height: 50px;
}

.theme-toggle {
    display: inline-block;
    transition: all 0.25s;
}

.title {
    font-size: 54px;
    margin-bottom: 20px;
}


.play-area {
    align-items: center;
    border-radius: 20px;
    display: flex;
    text-align: center;
}

.play-area-start {
    flex-direction: row;
}

.play-area-game {
    flex-direction: column;
}

.play-area-start, .play-area-game {
    min-height: 200px;
    padding: 20px 40px;
}

.play-area-end {
    letter-spacing: 1px;
    line-height: 1.5;
    min-height: none;
    padding: 25px;
}

.button  {
    display: block;
    transition: all 0.2s;
}
.start-button {
    border-radius: 7px;
    margin: 0 auto;
    padding: 10px;
}

.start-button p {
    font-size: 32px;
    font-weight: 500;
}

.occurence {
    font-size: 24px;
    margin-bottom: 12px;
}

.question {
    font-size: 20px;
}

.choice-container {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
}

.choice {
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
}

.end-game {
    font-size: 20px;
    text-align: left;
}

.attribution-start {
    display: none;
}

.attribution-game-end {
    display: block;
}

.attribution h2{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
