* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.content {
    padding-top: 0px;
    margin: auto auto;
    max-width: 768px;
}

.content > * {
    text-align: center;
}

.upper-button-container {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    text-align: right;
}

.upper-button-container > * {
    margin-right: 30px;
}

.upper-button-container > *:first-child {
    margin-right: 0px;
}

.spacer {
    flex-grow: 1;
}

.ending-option-button-container {
    font-size: 16px;
}

.ending-option-button-container-game-start {
    display: none;
}

.ending-option-button-container-end {
    display: block;
}

.ending-option-button {
    border-radius: 5px;
    display: block;
    font-weight: 500;
    padding: 10px;
}

.theme-toggle {
    display: inline-block;
    transition: all 0.25s;
}

.title {
    font-size: 54px;
    margin-bottom: 20px;
}

.play-area-container {
    clip-path: inset(0 0);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

.play-area {
    align-items: center;
    border-radius: 15px;
    display: flex;
    position: relative;
    text-align: center;
    transition: all 0.2s;
    width: 100%;
}

.play-area-coming {
    left: 101%;
}

.play-area-current {
    left: 0;
    transition: all 0.2s ease-out;
}

.play-area-passing {
    left: -100%;
    transition: all 0.2s ease-in;
}

.play-area-start {
    flex-direction: row;
}

.play-area-game {
    flex-direction: column;
}

.play-area-start, .play-area-game {
    min-height: 200px;
    padding: 20px 40px;
}

.play-area-end {
    letter-spacing: 1px;
    line-height: 1.5;
    min-height: none;
    padding: 25px;
}

.button  {
    display: inline-block;
    transition: all 0.2s;
}
.start-button, .replay-button {
    border-radius: 7px;
    margin: 0 auto;
}

.start-button {
    padding: 10px;
}

.start-button p, .replay-button p {
    font-weight: 500;
}

.start-button p {
    font-size: 32px;
}

.replay-button {
    padding: 10px;
}

.replay-button-start {
    display: none;
}

.replay-button-end {
    display: inline-block;
}

.replay-button p {
    font-size: 20px;
}

.occurence {
    font-size: 24px;
    margin-bottom: 12px;
}

.question {
    font-size: 20px;
}

.choice-container {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
}

.choice {
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
}

.end-game {
    font-size: 20px;
    text-align: left;
}

.attribution-start {
    display: none;
}

.attribution-game-end {
    display: block;
}

.attribution h2{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

