.body-light { 
   background-color: #f7f7f7;
}

.body-dark {
    background-color: #1a1a1a;
}

i.theme-toggle-light {
    color: #abacae;
    font-size: 46px;
}

i.theme-toggle-light:hover {
    color: #f9c440;
}

i.theme-toggle-dark	 {
    color: #666;
    font-size: 36px;
}

i.theme-toggle-dark:hover	{
    color: #fff394;
}