.body-light { 
   background-color: #f7f7f7;
}

.body-dark {
    background-color: #1a1a1a;
}

i.theme-toggle-light {
    color: #abacae;
    font-size: 46px;
}

i.theme-toggle-light:hover {
    color: #f9c440;
}

i.theme-toggle-dark	 {
    color: #666;
    font-size: 36px;
}

i.theme-toggle-dark:hover	{
    color: #fff394;
}

.title-light {
    color: black;
}

.title-dark {
    color: white;
}

.play-area-light {
    background-color: #fff;
    color: black;
    box-shadow: 0px 5px 4px 1px #d4d4d4;
}

.play-area-dark {
    background-color: #333333;
    color: white;
    box-shadow: 0px 5px 4px 1px #262626;
}

.button-light {
    background-color: #a56de2;
    box-shadow: 0px 3px 3px 0px #9856dc;
    color: white;
}

.button-dark {
    background-color: #7239b3;
    box-shadow: 0px 3px 3px 0px #291650;
    color: white;
}

.button-light:hover {
    background-color: #b07fe6;
    color: white;
}

.button-dark:hover {
    background-color: #b07fe6;
    color: white;
}

.attribution a {
    color: #abacae;;
}

.attribution .link:hover {
    color: #7e8087;
}

.attribution-light h2{
    color: #abacae;
}

.attribution-light a {
    color: #abacae;;
}

.attribution-light .link:hover {
    color: #7e8087;
}

.attribution-dark h2{
    color: #666;
}

.attribution-dark a {
    color: #666;;
}

.attribution-dark .link:hover {
    color: #7e8087;
}
